:root {
  --orange-main: #ff6b00;

  --orange-light: #ffcfad;
  --white: #ffffff;
  --grey-bg: #f7f9f8;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
@keyframes left-slider {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes right-slider {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes up-slider {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background-color: var(--grey-bg);
  color: var(--text-black);
}

/* --- Header --- */
.main-header {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 0.8rem 5%;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.logo {
  display: flex;
  animation: left-slider 2s ease;
  align-items: center;
  gap: 1px;
  font-weight: 800;
  font-size: 1.4rem;
  cursor: pointer;
}
.logo-icon {
  width: 60px;
  height: auto;
}
.orange-text {
  color: var(--orange-main);
}

.search-bar {
  flex: 1;
  max-width: 500px;
  position: relative;
  background: #f0f2f1;
  border-radius: 50px;
}
.search-icon {
  position: absolute;
  left: 15px;
  top: 12px;
  width: 18px;
  opacity: 0.5;
  cursor: pointer;
}
.search-bar input {
  width: 100%;
  border: none;
  background: transparent;
  padding: 12px 12px 12px 45px;
  outline: none;
}

.header-right {
  animation: right-slider 2s;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.status-icon {
  width: 35px;
  margin-right: 5px;
  cursor: pointer;
}

.delivery-status {
  font-size: 0.85rem;
  color: var(--orange-main);
  font-weight: 600;
}

.nav-cart-icon {
  margin-top: 10px;
  width: 30px;
  cursor: pointer;
}
.cart-box {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: 3px;
  right: -8px;
  background: var(--orange-main);
  color: white;
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 50%;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* --- Hero Section --- */
.hero {
  padding: 1.5rem 5%;
}
.hero-banner {
  background: var(--orange-main);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5%;
  color: white;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}
.white-text {
  color: white;
  text-decoration: underline;
}
.hero-text p {
  font-size: 1.1rem;
  opacity: 0.9;
  margin-bottom: 2rem;
  max-width: 400px;
}
.hero-btn {
  padding: 12px 30px;
  background: white;
  color: var(--orange-main);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero-btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.hero-main-img {
  width: 400px;
  height: auto;
  margin-right: 100px;
}

/* --- Categories --- */
.categories {
  padding: 2rem 5%;
}
.cat-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
.cat-item {
  background: var(--white);
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
}
.cat-item:hover {
  transform: translateY(-2px);

  background-color: var(--orange-light);
}
.cat-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.cat-icon-bg {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 12px;
}
.cat-info h3 {
  font-size: 0.95rem;
}
.cat-info p {
  font-size: 0.8rem;
  color: var(--text-grey);
}

/* --- Products --- */
.featured {
  padding: 2rem 5%;
}
.feat-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.feat-head a {
  color: var(--orange-main);
  text-decoration: none;
  font-weight: 600;
}

.prod-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}
.prod-card {
  background: white;
  padding: 1.5rem;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease;
}
.prod-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.prod-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}
.prod-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.price {
  font-size: 1.2rem;
  font-weight: bold;
}

.curency {
  color: var(--orange-main);
}
.add-btn {
  background: var(--orange-main);
  border: none;
  font-weight: bold;
  width: 50px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s ease;
}
.add-btn:hover {
  opacity: 0.7;
}
